@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(234, 208, 201);
}
.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 75vw;
  height: 100vh;
  z-index: -1;
}

.video-background video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}
